<div class="field centre">
  <%= select_tag :holding_business_id, options_from_collection_for_select(businesses, :id, :name), {class: "devise-lgn form-control", id: 'businesses_select', include_blank: 'Select a Holding Company' } %>
</div>
