<div id="main-container" class="container">
  <div class="card">
    <h3 class="card-header">Link Scheme Operator to <%= @scheme.name %></h3>

    <%= render 'form' %>

    <div class="card-footer">
      <%= link_to 'Scheme Operator links', scheme_scheme_operators_schemes_path, class: ['btn btn-sm btn-outline-primary', 'show-btn-lg'] %>
    </div>
  </div>
</div>