<div id="main-container" class="container">
  <div class="card">
    <h3 class="card-header"><strong>Editing: </strong><%= @admin.first_name %></h3>

    <div class="card-block">
      <p class="card-text">
        <%= render 'form' %>
      </p>
    </div>
    <div class="card-footer">
      <%= link_to 'Back', @admin, class: ['btn btn-sm btn-outline-primary', 'show-btn-md'] %>
    </div>
  </div>
</div>
