<div id="main-container" class="container">
  <div class="card">
    <h3 class="card-header"><strong>Editing: </strong><%= @admin.name %></h3>

    <div class="card-block">
      <!--	<h4 class="card-title">Administration</h4>-->
      <p class="card-text">
        <%= render 'form' %>
      </p>
    </div>
    <div class="card-footer">
      <% if can? :read, @admin %>
          <%= link_to 'Show', @admin, class: ['btn btn-sm btn-primary', 'show-btn-md'] %>
      <% end %>
      <%= link_to 'Back', :back, class: ['btn btn-sm btn-success', 'show-btn-md'] %>
    </div>
  </div>
</div>
