<html>
  <head>
    <div>Admin Area</div>
  </head>
  <body>
    <div id="main-container" class="container">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><%= link_to 'Admin list', admins_path %></li>
        <li><%= link_to 'Scheme Operators', scheme_operators_path %></li>
        <li><%= link_to 'Company Operators', company_operators_path %></li>
      </ul>
    </div>
  </body>
</html>
