<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_admin_path(params[:id]) %> |
<%= link_to 'Back', admins_path %> |
<%= link_to 'Permissions', admin_permissions_path(scheme_operator_id: params[:id]) %>
