<h1>Editing Email Content</h1>

<%= render 'form' %>

<div class="centre">
<%= link_to 'Show', @email_content, class: ['btn btn-sm btn-success']  %>
<%= link_to 'Back', email_contents_path, class: ['btn btn-sm btn-success']  %>
</div>