<div id="main-container" class="container">
  <div class="card">
    <h3 class="card-header">
      <center>New Scheme</center>
    </h3>
    <div class="card-block">
      <p class="card-text">
        <% if can? :new, Scheme %>
          <%= render 'form' %>
        <% else %>
          <center><strong>Scheme requires activating, please contact Vivoxa Ltd</strong></center>
        <% end %>
      </p>
    </div>
    <div class="card-footer">
      <%= link_to 'Schemes List', schemes_path , class: ['btn btn-sm btn-outline-primary', 'show-btn-lg'] %>
    </div>
  </div>
</div>
