<h1>New Scheme</h1>
<% if can? :new, Scheme %>
    <%= render 'form' %>
<% else %>
    <div class="row">
      <div class="card">
        <h3 class="card-header"></h3>

        <div class="card-block">
          <p class="card-title">Scheme requires activating, please contact Vivoxa Ltd</p>

          <p class="card-text"></p>

          <div class="card-footer">
          </div>

        </div>
      </div>
    </div>
<% end %>
<%= link_to 'Back', :back %>
