<div id="main-container" class="container">
  <div class="card">
    <h3 class="card-header">
      <center>regular producer</center>
    </h3>
    <div class="card-block">
      <p class="card-text">
      </p>
    </div>
    <div class="card-footer">
      <%= link_to 'Back to Member', @business , class: ['btn btn-sm btn-outline-primary', 'show-btn-lg'] %>
    </div>
  </div>
</div>
