<div id="main-container" class="container">
    <h1>Pending Scheme Operator Invitations</h1>
    <div class="card">
        <h3 class="card-header"><%= %></h3>
        <div class="card-block">
            <!--	<h4 class="card-title">Administration</h4>-->
            <p class="card-text">
<div class="col-md-2"></div>
<div class="col-md-8">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <strong>Email</strong>
                    </div>
                    <div class="col-md-6">
                        <strong>Invitation sent at</strong>
                    </div>
                </div>
                <% @scheme_operator_invitations.each do |invited_user| %>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5"><%= invited_user.email %></div>
                    <div class="col-md-6"><%= invited_user.invitation_sent_at  %></div>
                </div>
                <% end %>
             </div>
            </p>
            <div class="col-md-2"></div>
        </div>
        <div class="card-footer">
            <%= link_to 'Invite Scheme Operator', new_scheme_operator_invitation_path, class: ['btn btn-sm btn-primary', 'devise-btn'] %>
        </div>

    </div>
</div>
