<html>
  <head>
    <div>Company Operator Area</div>
  </head>
  <body>
    <div id="main-container" class="container">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><%= link_to 'Company Operators', company_operators_path %></li>
      </ul>

      <div class="row">
        <p>Company Operators</p>
        <div class="row">
          <div class="col-md-4">ID</div>
          <div class="col-md-4">Name</div>
          <div class="col-md-4">Email</div>
        </div>
        <%- @company_operators.each do |co| %>
          <div class="row">
            <div class="col-md-4"><%= co.id.to_s %></div>
            <div class="col-md-4"><%= co.name.to_s if co.name %></div>
            <div class="col-md-4"><%= co.email.to_s %></div>
          </div>
        <%- end %>
      </div>
    </div>
  </body>
</html>
