<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_company_operator_path(params[:id]) %> |
<%= link_to 'Back', company_operators_path %> |
<%= link_to 'Permissions', company_operator_permissions_path(scheme_operator_id: params[:id]) %>
