<div class="row">
  <div class="col-sm-12 text-xs-center bootstrap-welcome">
    <h1>Welcome to PWPR</h1>
    <p class="lead">The cloud based solution to calculate your scheme's</p>
<p class="lead"><strong>P</strong>ackaging <strong>W</strong>aste <strong>P</strong>rovider <strong>R</strong>esponsibilities</p>
  </div>
</div>
