<ul class="nav nav-tabs card-header-tabs pull-xs-left">
  <li class="nav-item">
    <a class="nav-link active" href=''>Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=<%= pending_scheme_operators_path %>>Pending Approval</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=<%= scheme_operator_invitations_path %>>Invitations</a>
  </li>
</ul>
