<div class="container" style='margin-top:30px'>
  <div class="row">
    <div class="card">

      <div class="card-block">

        <div class="col-xs-12 col-md-2 col-lg-12">
          <div class="card">
            <div class="card-block">
              <div class="row">
                <div class="col-xs-12 col-md-2 col-lg-2"><strong>Email Name</strong></div>
                <div class="col-xs-12 col-md-2 col-lg-2"></div>

              </div>
              <div class="row">
                <div class="col-xs-12 col-md-2 col-lg-2"><%= @email_name.name %></div>
                <div class="col-xs-12 col-md-2 col-lg-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <% if can? :update, @email_name %>
            <%= link_to 'Edit', edit_email_name_path(id: @email_name.id), class: ['btn btn-sm btn-warning'] %>
        <% end %>
        <% if can? :read, EmailName %>
            <%= link_to 'Back', email_names_path(@email_name.id), class: ['btn btn-sm btn-primary'] %>
        <% end %>
      </div>
    </div>
  </div>
</div>