<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>Hello <%= @recipient.first_name %></p>
<strong>Registration Forms for <%= @year %> have been emailed to your clients.</strong>
<p>
  Please find attached a PDF that lists the Members the Registration forms have been sent to.
</p>
<p>
  To login to the site, just follow this link: <a href=<%= @url %>>Sign in</a>.
</p>
<p>Regards,</p>
<p>The team at PWPR</p>
</body>
</html>