.devise-btn {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 290px;
}
.show-btn {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 80px;
}
.show-btn-md {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100px;
}
.devise-lgn {
  margin-top: 10px;
  text-align:center;
  margin-bottom: 10px;
  width: 290px
}

.centre {
  margin: 0 auto;
  width: 290px
}

.centre-title {
  margin: 0 auto;
  width: 390px
}
.centre-wide {
  margin: 0 auto;
  width: 890px
}