<div class='col-md-4 col-lg-6'>
  <div class="row">
    <div><strong>Predominant Material: </strong></div>
  </div>
  <div class="row">
    <div><strong>Obligation: </strong></div>
  </div>
</div>

<div class='col-md-4 col-lg-6'>
  <div class="row">
    <div class="form_value_blank">
      <%= @business.registrations.last&.small_producer_detail&.predominant_material_value %>
    </div>
  </div>
  <div class="row">
    <div class="form_value_blank">
      <%= @business.registrations.last&.small_producer_detail&.allocation_method_obligation&.to_s %>
    </div>
  </div>
</div>
